<?xml version="1.0"?>
<config>
    <sections>
        <antidot translate="label" module="Antidot">
            <label>AFS@Store</label>
            <tab>catalog</tab>
            <frontend_type>text</frontend_type>
            <sort_order>500</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <groups>
                <general>
                    <label>General</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>1</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <notice>
                            <frontend_model>Antidot/System_Config_Fieldset_Notice</frontend_model>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </notice>
                        <afsstore translate="label">
                            <label>AFS@Store Back-Office</label>
                            <frontend_model>Antidot/System_Config_Button_AfsStore</frontend_model>
                            <sort_order>2</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </afsstore>
                        <version translate="label">
                            <label>AFS@Store Extension Version</label>
                            <frontend_model>Antidot/System_Config_Html_Version</frontend_model>
                            <sort_order>3</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                            <comment>Communicate this version to the support team if you need help</comment>
                        </version>
                        <owner translate="label">
                            <label>Organization name</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                            <comment>Useful for support team</comment>
                        </owner>
                        <email translate="label">
                            <label>E-mail</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>12</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                            <comment>Used to send alert when an error occured</comment>
                        </email>
                    </fields>

                </general>

                <ftp>
                    <label>Data upload parameters</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>2</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>0</show_in_website>
                    <show_in_store>0</show_in_store>
                    <fields>
                        <upload_type translate="label">
                            <label>Upload Type</label>
                            <frontend_type>select</frontend_type>
                            <source_model>Antidot/system_config_exportType</source_model>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                        </upload_type>
                        <username translate="label">
                            <label>AFS@Store BO Login</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>2</sort_order>
                            <show_in_default>1</show_in_default>
                            <comment></comment>
                            <depends><upload_type>http</upload_type></depends>
                        </username>
                        <passwd translate="label">
                            <label>AFS@Store BO Password</label>
                            <frontend_type>password</frontend_type>
                            <sort_order>3</sort_order>
                            <show_in_default>1</show_in_default>
                            <comment></comment>
                            <depends><upload_type>http</upload_type></depends>
                        </passwd>
                        <host translate="label">
                            <label>Host</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>2</sort_order>
                            <show_in_default>1</show_in_default>
                            <comment>Host to connect to Antidot to push files</comment>
                            <depends><upload_type>ftp</upload_type></depends>
                        </host>
                        <directory translate="label">
                            <label>Upload Directory</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>3</sort_order>
                            <show_in_default>1</show_in_default>
                            <comment>Directory to upload files</comment>
                            <depends><upload_type>ftp</upload_type></depends>
                        </directory>
                        <login translate="label">
                            <label>Login</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>4</sort_order>
                            <show_in_default>1</show_in_default>
                            <comment>Your Antidot FTP Login</comment>
                            <depends><upload_type>ftp</upload_type></depends>
                        </login>
                        <password translate="label">
                            <label>Password</label>
                            <frontend_type>password</frontend_type>
                            <sort_order>5</sort_order>
                            <show_in_default>1</show_in_default>
                            <comment>Your Antidot FTP Password</comment>
                            <depends><upload_type>ftp</upload_type></depends>
                        </password>
                        <working_directory translate="label">
                            <label>Working directory</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>6</sort_order>
                            <show_in_default>1</show_in_default>
                            <comment>Local directory to use to generate xml files. If empty, /tmp will be used</comment>
                        </working_directory>
                    </fields>
                </ftp>

                <web_service>
                    <label>Web services</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>3</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>0</show_in_website>
                    <show_in_store>0</show_in_store>
                    <fields>
                        <host translate="label">
                            <label>Host</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <comment>Web service host to communicate with Antidot</comment>
                        </host>
                        <service translate="label">
                            <label>Service ID</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>2</sort_order>
                            <show_in_default>1</show_in_default>
                            <comment>Antidot service ID</comment>
                        </service>
                        <status translate="label">
                            <label>Status</label>
                            <frontend_type>select</frontend_type>
                            <source_model>Antidot/System_Config_WSStatus</source_model>
                            <sort_order>5</sort_order>
                            <show_in_default>1</show_in_default>
                            <comment>Web service status. Go live only with 'stable' status on your production site</comment>
                        </status>
                    </fields>
                </web_service>

                <fields_product>
                    <label>Products fields mapping</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>4</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <comment>These settings are related to the product file generation, used for AFS@Store indexing. You can match to existing attributes in Magento and add your own properties. Standard Magento attributes such as urls, categories, prices, quantities, promotions are automatically inherited by this mapping. Use this form to map specific fields from your data model</comment>
                    <fields>
                        <in_stock_only translate="label">
                            <label>Include out of stock products</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>5</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>Change this setting if you want to include out of stock products</comment>
                        </in_stock_only>
                        <name translate="label">
                            <label>Name</label>
                            <frontend_type>select</frontend_type>
                            <frontend_model>Antidot/System_Config_Form_Field_ProductAttribute</frontend_model>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </name>
                        <short_name translate="label">
                            <label>Short name</label>
                            <frontend_type>select</frontend_type>
                            <frontend_model>Antidot/System_Config_Form_Field_ProductAttribute</frontend_model>
                            <sort_order>11</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </short_name>
                        <manufacturer translate="label">
                            <label>Brand</label>
                            <frontend_type>select</frontend_type>
                            <frontend_model>Antidot/System_Config_Form_Field_ProductAttribute</frontend_model>
                            <sort_order>13</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </manufacturer>
                        <description translate="label">
                            <label>Description</label>
                            <frontend_type>select</frontend_type>
                            <frontend_model>Antidot/System_Config_Form_Field_Array_ProductIdentifier</frontend_model>
                            <backend_model>Adminhtml/System_Config_Backend_Serialized_Array</backend_model>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>Additional fields for plain text indexation</comment>
                        </description>
                        <keywords translate="label">
                            <label>Keywords</label>
                            <frontend_type>select</frontend_type>
                            <frontend_model>Antidot/System_Config_Form_Field_ProductAttribute</frontend_model>
                            <sort_order>30</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </keywords>
                        <is_new translate="label">
                            <label>Is new</label>
                            <frontend_type>select</frontend_type>
                            <frontend_model>Antidot/System_Config_Form_Field_ProductAttribute</frontend_model>
                            <sort_order>50</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>This attribute may be used as searchandizing criterium to manage Product search/autocomplete order</comment>
                        </is_new>
                        <is_best_sale translate="label">
                            <label>Is top sale</label>
                            <frontend_type>select</frontend_type>
                            <frontend_model>Antidot/System_Config_Form_Field_ProductAttribute</frontend_model>
                            <sort_order>60</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>This attribute may be used as searchandizing criterium to manage Product search/autocomplete order</comment>
                        </is_best_sale>
                        <is_featured translate="label">
                            <label>Is featured</label>
                            <frontend_type>select</frontend_type>
                            <frontend_model>Antidot/System_Config_Form_Field_ProductAttribute</frontend_model>
                            <sort_order>70</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>This attribute may be used as searchandizing criterium to manage Product search/autocomplete order</comment>
                        </is_featured>
                        <materials translate="label">
                            <label>Material</label>
                            <frontend_type>select</frontend_type>
                            <frontend_model>Antidot/System_Config_Form_Field_ProductAttribute</frontend_model>
                            <sort_order>90</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </materials>
                        <colors translate="label">
                            <label>Color</label>
                            <frontend_type>select</frontend_type>
                            <frontend_model>Antidot/System_Config_Form_Field_ProductAttribute</frontend_model>
                            <sort_order>100</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </colors>
                        <models translate="label">
                            <label>Model</label>
                            <frontend_type>select</frontend_type>
                            <frontend_model>Antidot/System_Config_Form_Field_ProductAttribute</frontend_model>
                            <sort_order>110</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </models>
                        <sizes translate="label">
                            <label>Size</label>
                            <frontend_type>select</frontend_type>
                            <frontend_model>Antidot/System_Config_Form_Field_ProductAttribute</frontend_model>
                            <sort_order>120</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </sizes>
                        <gender translate="label">
                            <label>Gender</label>
                            <frontend_type>select</frontend_type>
                            <frontend_model>Antidot/System_Config_Form_Field_ProductAttribute</frontend_model>
                            <sort_order>125</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </gender>
                        <gtin translate="label">
                            <label>GTIN / EAN</label>
                            <frontend_type>select</frontend_type>
                            <frontend_model>Antidot/System_Config_Form_Field_ProductAttribute</frontend_model>
                            <sort_order>125</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </gtin>
                        <identifier translate="label">
                            <label>Identifier</label>
                            <frontend_model>Antidot/System_Config_Form_Field_Array_ProductIdentifier</frontend_model>
                            <backend_model>Adminhtml/System_Config_Backend_Serialized_Array</backend_model>
                            <sort_order>160</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>Configure additional identifiers here (your reference, manufacturer reference, supplier reference, OEM ...)</comment>
                        </identifier>
                        <properties translate="label">
                            <label>Additional facets</label>
                            <frontend_model>Antidot/System_Config_Form_Field_Array_ProductAdditionalFacet</frontend_model>
                            <backend_model>Adminhtml/System_Config_Backend_Serialized_Array</backend_model>
                            <sort_order>180</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>Additional attributes to filter results and optionally appear as autocomplete suggestions</comment>
                        </properties>
                    </fields>
                </fields_product>

                <!--<fields_category>
                    <label>Categories fields mapping</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>5</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <comment>These settings are related to the category file generation, used for AFS@Store indexing :</comment>
                    <fields>
                        <name translate="label">
                            <label>Name</label>
                            <frontend_type>select</frontend_type>
                            <frontend_model>Antidot/System_Config_Form_Field_CategoryAttribute</frontend_model>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>Category attribute to use as category name</comment>
                        </name>
                        <description translate="label">
                            <label>Description</label>
                            <frontend_type>select</frontend_type>
                            <frontend_model>Antidot/System_Config_Form_Field_CategoryAttribute</frontend_model>
                            <sort_order>2</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>Category attribute to use as category description</comment>
                        </description>
                        <keywords translate="label">
                            <label>Keywords</label>
                            <frontend_type>select</frontend_type>
                            <frontend_model>Antidot/System_Config_Form_Field_CategoryAttribute</frontend_model>
                            <sort_order>3</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>Category attribute to use as category keywords</comment>
                        </keywords>
                    </fields>
                </fields_category>-->
                
                <suggest>
                    <label>Autocomplete</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>6</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <enable translate="label">
                            <label>Enable</label>
                            <frontend_type>select</frontend_type>
                            <source_model>Antidot/system_config_source_acpengine</source_model>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>Select Magento or AFS@Store (recommended) autocomplete engine. Rollback to Magento only if you experience issues</comment>
                        </enable>
                        <feeds translate="label">
                            <label>Feeds</label>
                            <frontend_model>Antidot/system_config_form_field_array_acpFeeds</frontend_model>
                            <backend_model>adminhtml/system_config_backend_serialized_array</backend_model>
                            <sort_order>2</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>Définissez l'ordre des flux en les faisant glisser en drag'n drop, définissez pour chaque flux si ils doivent apparaitre, et le nombre de résultats à afficher</comment>
                        </feeds>
                        <template translate="label">
                            <label>Template</label>
                            <frontend_type>textarea</frontend_type>
                            <sort_order>52</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>Configure here the XSLT template to display ACP results. Caution: if your template set his own sort order for columns, then 'Sort order'  above settings will not work anymore</comment>
                        </template>
                        <additionnal_feed translate="label">
                            <label>Additionnal feed</label>
                            <frontend_type>text</frontend_type>
                            <frontend_model>Antidot/System_Config_Form_Field_Array_AdditionalFeed</frontend_model>
                            <backend_model>Adminhtml/System_Config_Backend_Serialized_Array</backend_model>
                            <sort_order>50</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>Add an additional feed to the ACP response, typicaly an hit-parade or any other feed configured in AFSStore Back-office.</comment>
                        </additionnal_feed>
                        <show_xml>
                            <label>Example</label>
                            <frontend_model>Antidot/System_Config_Html_ShowXml</frontend_model>
                            <sort_order>51</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                            <comment>Display a popup with a sample of XML code that will be transformed with the XSLT stylesheet.</comment>
                        </show_xml>
                        <restore_template>
                            <label></label>
                            <frontend_model>Antidot/System_Config_Button_RestoreTemplate</frontend_model>
                            <sort_order>53</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                            <comment>Restore the default XSLT template (usefull if you broke it !)</comment>
                        </restore_template>
                    </fields>
                </suggest>
                
                <engine>
                    <label>Search engine</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>7</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <engine translate="label">
                            <label>Search Engine</label>
                            <frontend_type>select</frontend_type>
                            <source_model>Antidot/system_config_source_engine</source_model>
                            <backend_model>Antidot/system_config_backend_engine</backend_model>
                            <sort_order>19</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>Select Magento or AFS@Store (recommended) search engine. Rollback to Magento only if you experience issues</comment>
                        </engine>
                        <result_tabs translate="label">
                            <label>Result Tabs</label>
                            <frontend_model>Antidot/system_config_form_field_array_tabs</frontend_model>
                            <backend_model>adminhtml/system_config_backend_serialized_array</backend_model>
                            <sort_order>30</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>Définissez l'ordre des onglets en les faisant glisser en drag'n drop, définissez pour chaque onglet si ils doivent apparaitre, et leur ordre de priorité</comment>
                        </result_tabs>
                        <feed_categories translate="label">
                            <label>Display categories</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_enabledisable</source_model>
                            <sort_order>40</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>Display categories matching to search query (require template customization)</comment>
                        </feed_categories>
                        <spellcheck translate="label">
                            <label>Spellcheck sentence</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>45</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>Text to display when a spellcheck suggestion is available. Use {spellcheck} keyword to include AFS@Store suggestion in your text</comment>
                        </spellcheck>
                        <spellcheck_query translate="label">
                            <label>Query Spellcheck sentence</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>46</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>Text to display when a spellcheck based query has been made. Use {originalQuery} and {spellcheck} keyword to include the original query and the spellcheck in your text, leave empty to disable the functionality</comment>
                        </spellcheck_query>
                        <redirect_product translate="label">
                            <label>Redirect to the product page</label>
                            <frontend_type>select</frontend_type>
                            <source_model>Antidot/system_config_source_redirect</source_model>
                            <sort_order>47</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>In case there's only one result : redirect to product page</comment>
                        </redirect_product>
                        <facets translate="label">
                            <label>Facets</label>
                            <frontend_model>Antidot/System_Config_Form_Field_Array_Facet</frontend_model>
                            <backend_model>Adminhtml/System_Config_Backend_Serialized_Array</backend_model>
                            <sort_order>50</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>Select the facets (and the order) you want to enable on the search page</comment>
                        </facets>
                        <facet_options translate="label">
                            <label>Max number of facet values</label>
                            <frontend_type>text</frontend_type>
                            <validate>validate-digits</validate>
                            <sort_order>60</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>Max number of options to display for a facet (additional results will be hidden)</comment>
                        </facet_options>
                        <price_facet translate="label">
                            <label>Price facet label</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>62</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>Text to display for each price ranges : use {min} and {max} codes to include values in your text</comment>
                        </price_facet>
                        <sortable translate="label">
                            <label>Sort options</label>
                            <frontend_model>Antidot/System_Config_Form_Field_Array_Sort</frontend_model>
                            <backend_model>Adminhtml/System_Config_Backend_Serialized_Array</backend_model>
                            <sort_order>180</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>Select sort options available in sort drop down menu</comment>
                        </sortable>
                        <default_sort translate="label">
                            <label>Default sort</label>
                            <frontend_model>Antidot/System_Config_Form_Field_Array_DefaultSort</frontend_model>
                            <backend_model>Adminhtml/System_Config_Backend_Serialized_Array</backend_model>
                            <sort_order>190</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>Default sort to apply</comment>
                        </default_sort>
                    </fields>
                </engine>

                <promote>
                    <label>Merchandising</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>8</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <redirect translate="label">
                            <label>Promote redirect</label>
                            <frontend_type>select</frontend_type>
                            <source_model>Antidot/System_Config_PromoteRedirect</source_model>
                            <sort_order>19</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>Allows you to choose how Promote campaigns created in Antidot Back-Office are used to redirect search towards internal urls</comment>
                        </redirect>
                    </fields>
                </promote>

                <articles>
                    <label>Articles</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>9</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>0</show_in_website>
                    <show_in_store>0</show_in_store>
                    <fields>
                        <index_cms translate="label">
                            <label>Index magento CMS pages</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </index_cms>
                        <file_path translate="label,comment">
                            <label>Articles directory</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>2</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                            <comment>Local directory where the articles zip file is expected</comment>
                            <depends><index_cms>0</index_cms></depends>
                        </file_path>
                    </fields>
                </articles>

                <stores>
                    <label>Stores</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>10</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>0</show_in_website>
                    <show_in_store>0</show_in_store>
                    <fields>
                        <file_path translate="label,comment">
                            <label>Stores directory</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>2</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                            <comment>Local directory where the stores zip file is expected</comment>
                        </file_path>
                    </fields>
                </stores>

                <action>
                    <label>On-demand Data Upload</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>11</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>0</show_in_website>
                    <show_in_store>0</show_in_store>
                    <fields>
                        <push_products translate="label,comment">
                            <label>Push products</label>
                            <frontend_model>Antidot/System_Config_Button_PushProducts</frontend_model>
                            <sort_order>2</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                            <comment>Manually push products index to AFS@Store (usefull when you change configuration above)</comment>
                        </push_products>
                        <push_categories translate="label,comment">
                            <label>Push categories</label>
                            <frontend_model>Antidot/System_Config_Button_PushCategories</frontend_model>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                            <comment>Manually push categories index to AFS@Store</comment>
                        </push_categories>
                        <push_articles translate="label,comment">
                            <label>Push articles</label>
                            <frontend_model>Antidot/System_Config_Button_PushArticles</frontend_model>
                            <sort_order>3</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                            <comment>Manually push articles index to AFS@Store</comment>
                        </push_articles>
                        <push_stores translate="label,comment">
                            <label>Push stores</label>
                            <frontend_model>Antidot/System_Config_Button_PushStores</frontend_model>
                            <sort_order>4</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                            <comment>Manually push stores index to AFS@Store</comment>
                        </push_stores>
                    </fields>
                </action>

                <generation>
                    <label>Data upload report</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>15</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>0</show_in_website>
                    <show_in_store>0</show_in_store>
                    <comment>Last index push history logs</comment>
                    <fields>
                        <log>
                            <frontend_model>Antidot/System_Config_Html_Export</frontend_model>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </log>
                    </fields>
                </generation>
            </groups>
        </antidot>
        <catalog>
            <groups>
                <search>
                    <fields>
                        <antidot_config_forward translate="label">
                            <label>AFS@Store Configuration</label>
                            <frontend_model>Antidot/system_config_button_forward</frontend_model>
                            <sort_order>101</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                            <depends><engine>Antidot/engine_antidot</engine></depends>
                        </antidot_config_forward>
                    </fields>
                </search>
            </groups>
        </catalog>
    </sections>
</config>